body{
  margin: 0;
  padding: 0;
  height: 90vh;
  background-image: url("./assets/background-image.jpg");
  background-position: center;

  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app{
  text-align: center;
  background-color: hsla(219, 95%, 59%, 0.322);
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.4);
  padding: 20px;
  
}

.loginTitle{
  text-align: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

.register{
  display:grid;
  grid-template-columns: 1fr 2fr;
}

.loginInput{
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.passwordInput{
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.formLabel{
  display: grid;
  text-align:right;
  padding-bottom: 20px;  
}

.formInput{
  display: grid;
  text-align:right;
  padding-bottom: 15px;
}

.buttons{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonRegister{
  text-align: right;
}

.buttonBack{
  text-align: left;
}